



CLIENT_GATEWAY_PORT=3000




PAYMENTS_MS_PORT=3006

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=sk_test_51QHg4bP2YTQidMHsd2d5Dbiv7KdkvZCogzSBZ5rMTN6ssEfjHMat1mVOCUMnAqRfRVn9tZjH5SE2aOzHxMQe2Klb00HuXVtptx

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_UR=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1OrjjpLpSSVtW50ltIQEAP8z
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=whsec_8facd933db43febdef99a0e5367f63834220821a028832db1988a64f22cf25b8