[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/intops-snaporder/auth-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/intops-snaporder/client-gateway.git
